# IDE & Editor
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
log/
*.history

# Python & Virtual Env
.venv/
__pycache__/
*.pyc
*.pyo

# Go build output
bin/

# Database & Runtime Data
*.db
meta_db/

# Configuration & Secrets
*.pem
*.ppk
*.key

# Deployment & Docker
.env
deployments/docker-compose/data

**/secrets/*
!**/secrets/.gitkeep
!**/secrets/README.md

# Backup Files
*_backup

# Dummy Files
dummy/